<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Auto-tests-otus" parallel="classes" thread-count="2">

    <test name="homePage-tests">
        <classes>
            <class name="lab9.TestHabrHomePage"/>
            <class name="lab9.TestLoginRegistr"/>
        </classes>
    </test>
</suite>